<!DOCTYPE html>
<html>
<head>
  <title>CarBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>


</head>
<body>

<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn86g-BNLCa_MiKWiZPYW7fvVUfCnZwDg&libraries=places"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
  window.CLOUDINARY_OPTIONS = {
    cloud_name: "<%=ENV['CLOUD_NAME']%>",
    upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
  };
</script>


</body>

</html>
