<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="<%= image_url('carFavicon.png')%>" type="image/png">
  <!-- <link rel="icon" type="image/png" href="<%= image_url('favicon.png')%>"> -->
  <title>CarBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>


</head>
<body>

<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn86g-BNLCa_MiKWiZPYW7fvVUfCnZwDg&libraries=places"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>


</body>

</html>
